
/** 
 *  * Colors 
 *   */
/** 
 *  * Units 
 *   */
[class*="entypo-"]:before {
    font-family: 'entypo', sans-serif;
    color: #c6adad;
    margin: 0.3em;

}

body, html {
    background: #272125;
    color: #c6adad;
    font-size: 1em;
    font-family: 'Open sans', sans-serif;
    margin: 0;
    overflow-y:hidden;
}


a {
    text-decoration: none;
    color: inherit;

}

div.login {
    margin: 0 0.5em;
    text-transform: uppercase;
   
}
small{
    font-size:2em;
}
.login-container{
    position:absolute;
    /* right:0; */
    background-color:#ffffff;
    text-align:right;
}    
.login-container .loginbutton {
    width: 3.2em;
    padding: -0.2em;
    text-align: center;
    height: 1.3em;
    margin: -0.2em auto;
    /* position:absolute;
    right:18%;
    top:20%; */
    background: #8f3333;
    cursor: pointer;
    font-size: 4em;
    text-decoration: underline;
    /* border-radius:15px; */
    transition: 1s ease-in-out;

}

form {
    display:none;
    margin:-5em auto;
    position: absolute;
    top:45%;
    right:14%;
    padding: 0.1em;
    width: auto;
    height:1.2em;
    font-size: 1.5em;
    /* background-color:#ffffff; */

}

form div {
    transition: 1s ease-in-out;
    display: inline-block;
    border-radius:5px;

}

form div label {
    display: block; 

}

form div input[type="text"], form div input[type="password"] {
    background: #b3b3b3;
    border: 0.1em solid #b3b3b3;
    width: 14.1em;
    font-size:0.5em;
    height:2em;

}

form div {
    padding: 0.6em;
    margin: 0 0.05em;

}

form div input[type="text"]:focus, form div input[type="password"]:focus {
    outline: none;
    color: #4d4d4d;

}

.activeloginbutton {
    transform: rotate(360deg) translate(-150%);
    
}

.credit {
    position: absolute;
    bottom: 0;
    margin: 0.1em;

}

form div:active, form div:hover, form div:focus {
    background: #692525;

}

